@font-face {
    font-family: 'Berkshire Swash';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/berkshireswash/v9/ptRRTi-cavZOGqCvnNJDl5m5XmN_qs4z.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v19/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrE.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
    font-size: 12px
}

/* HEADER */

.header {
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 4.44rem;
   padding: 1% 12%;
   background-color:Azure;
   box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
   font-size: 16px;
   font-weight: bold;
   flex-direction: column
}

.header .logo {
    font-family: 'Berkshire Swash', Helvetica, sans-serif;
    font-size: 20px
}

.header li {
    font-family: "Raleway", Arial, sans-serif;
    display: inline;
    padding-right: 2.22rem;
}

.header a {
    text-decoration: none;
}

/* BANNER */

.banner {
    display: flex;
    flex-direction: column;
    justify-content:last baseline;
    align-items: center;
    height: 30rem;
    background-image: url('../images/7148F.jpg');
    background-size: cover;
    color:rgb(255, 230, 0);
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
}

/* BODY */

.mediacenter {
    padding: 0 25% 4rem 25%;
    background-color: rgb(0, 0, 0);
    font-family: "Raleway", serif;  
}

.photo {
    width: 100%;
    padding: 1.11rem;
    border-radius: 5px;
    margin: 0 auto 4.44rem auto;
    background-color: Azure;
  }
  
.photo .image-container {
    overflow: hidden;
    margin-bottom: 1.11rem;
}
  
.photo .image-container img {
    width: 100%;
}

.photo .caption {
    font-family: "Raleway", serif;
    font-style: italic; 
}

.mediacenter p{
      color: white;
}

.mediacenter .quotes {
    color: white;
    display: block;
    padding: 4.44rem 0;
    margin-bottom: 3.33rem;
    border-top: 4px solid Azure;
    border-bottom: 4px solid Azure;
    text-align: center;
    font-size: 3.55rem;
    font-weight: 800;
    line-height: 1.2;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}